<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>quicksand_bold</string>
		<string>quicksand_light</string>
		<string>quicksand_medium</string>
		<string>quicksand_regular</string>
		<string>quicksand_semibold</string>
	</array>
</dict>
</plist>
